
.axis text {
  font-size: 11px;
  fill: #111;
}

.axis path,
.axis line {
  fill: none;
  stroke: #222;
  shape-rendering: crispEdges;
}

.marker-line
{
    fill: none;
    stroke: red;
    stroke-width: 1px;
}

.cpu-line {
  fill: none;
  stroke: hsl(132, 100%, 25%);
  stroke-width: 1.5px;
}

.ram-line {
  fill: none;
  stroke: hsl(220, 100%, 25%);
  stroke-width: 1.5px;
}

.cpu {
    fill: green;
    stroke: none;
    stroke-width: 0px;
    shape-rendering: crispEdges;
}

