
svg {margin: 4px; }

.axis text {
  font-size: 10px;
  fill: #444;
}

.axis path,
.axis line {
  fill: none;
  stroke: #444;
  shape-rendering: crispEdges;
}

.marker-line
{
    fill: none;
    stroke: red;
    stroke-width: 1px;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

/* Color Palette */
/* use bootstrap colors? http://getbootstrap.com/css/#buttons */

.line.cpu { stroke: hsla(140, 100%, 41%, 0.8); stroke-width: 2px; }
.line.ram { stroke: hsla(220, 100%, 48%, 0.8); stroke-width: 1.5px; }

.line.disk.in { stroke: hsla(40, 100%, 45%, 0.9); }
.line.disk.out { stroke: hsla(10, 100%, 50%, 0.9); }

.line.net.in { stroke: hsla(180, 100%, 45%, 1); }
.line.net.out { stroke: hsla(290, 100%, 45%, 1); }

.line.vm { stroke: hsla(350, 100%, 50%, 0.9); stroke-width: 2px; }
.line.storage { stroke: hsla(1, 100%, 30%, 0.9); stroke-width: 2px; }


