
svg {margin: 4px;}

.axis text {
  font-size: 11px;
  fill: #111;
}

.axis path,
.axis line {
  fill: none;
  stroke: #222;
  shape-rendering: crispEdges;
}

.marker-line
{
    fill: none;
    stroke: red;
    stroke-width: 1px;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.line.cpu {
  fill: none;
  stroke: hsl(132, 100%, 25%);
  stroke-width: 1.5;
}

.line.ram {
  stroke: rgb(117, 117, 216);
}

.line.received {
  stroke: yellow;
}

.line.sent {
  stroke: #AC3E00;
}

.line.read {
  stroke: blue;
}

.line.wrote {
  stroke: darkblue;
}




